#htmlA{
    background-color: rgb(99, 186, 173);
}
#htmlY{
    background-color: rgb(168, 241, 156);
}
.logo-alura{
    position: absolute;
    top: 45px;
    left: 45px;
}
.logo-Y{
    position: absolute;
    top: 45px;
    left: 45px;

}
#encabezado{
    position: absolute;
    width: 50%;
    top: 8%;
    font-size: 18px;
    font-style: italic;
    text-align: left;
    left: 10%;
 
}
.input-text{
    position: absolute;
    top: 100px;
    width: 40%;
    height: 60%;
    left: 10%;
    border-radius: 10px;
    background-color: rgb(238, 231, 227);

}
.especificacion-caracteres{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top:80%;
    height: 7%;
    left: 13%
}
#boton-encriptar,#boton-encriptar-y{
    position: absolute;
    top:85%;
    height: 7%;
    width: 12%;
    left: 13%;
    background-color:  rgb(4, 4, 131);
    color: white;
    font-size: large;
    border-radius: 5px;
}
#boton-desencriptar, #boton-desencriptar-y{
    position: absolute;
    top: 85%; 
    height: 7%;
    width: 12%;
    background-color:  rgb(187, 187, 219);
    color: blue;
    font-size: large;
    border-radius: 5px;
    left: 33%;
}
#boton-copiar,#boton-copiar-y{
    position: absolute;
    top: 85%; 
    height: 7%;
    width: 12%;
    left: 78%;
    background-color: rgb(187, 187, 219);
    color:blue;;
    font-size: large;
    border-radius: 5px;
}

#cambioEncriptador{
    position: absolute;
    top: 94%; 
    height: 4%;
    width: 12%;
    left: 87%; 
    background-color:blueviolet;
    border-radius:5px; 
    
}
#bntCambio{
    background-color:blueviolet;
    color:white;
    text-decoration: none;
    transition: 500ms all;
    cursor: pointer;
    
}
#bntCambio:hover,#cambioEncriptador:hover,#boton-desencriptar:hover, #boton-desencriptar-y:hover,
#boton-copiar:hover,#boton-copiar-y:hover,#boton-encriptar:hover,#boton-encriptar-y:hover{
    transform: scale(1.1);
}

.output-text{
    
    position: absolute;
    top: 5%;
    width: 25%;
    height: 77%;
    left: 70%;
    border-radius: 10px;
    background-color: white
}
.texto-copiado-aviso-invisible{
    position: absolute;
    text-align: center;
    top: 75%; 
    height: 4%;
    width: 12%;
    left: 78%;
    background-color: rgb(147, 210, 110);
    color:black;;
    font-size: large;
    border-radius: 5px;
    opacity: 0%;
}


.texto-no-encontrado-invisible{
    opacity: 0;
    position: absolute;
    text-align: center;
    font-size: 25px;
    top: 55%; 
    height: 4%;
    width: 12%;
    left: 78%;
}
.texto-no-encontrado-visible{
    background-color: white;
    position: absolute;
    text-align: center;
    font-size: 25px;
    top: 55%; 
    height: 4%;
    width: 12%;
    left: 78%;
    opacity: 100%;
}
.texto-copiado-aviso-visible{
    background-color: white;
    display: -ms-inline-flexbox;
    position: absolute;
    text-align: center;
    padding: 5px;
    top: 75%; 
    height: 3.5%;
    width: 11%;
    left: 78%;
    background-color: rgb(147, 210, 110);
    color: black;
    font-size: large;
    border-radius: 5px;
    opacity: 100%
}
#logo-output{
    position: absolute;
    top: 12%;
    width: 20%;
    height: 40%;
    left: 73%;
    border-radius: 15px;  
}
#pie-pagina{
    position: absolute;
    left:35%;
    top:94%;
    text-align: center;
    color:black;
    font-weight: bold;
    
}
